.h2Title{
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  margin-top:40px;
}
.h1Title{
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  margin-top:40px;
  color: #0f766e;
}
