.navbar {
  background-color: #f8f9fa;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbarBrand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.navbarBrand img {
  margin-right: 10px;
}

.navbarNav {
  font-size: 1.1rem;
  color: #333;
}

.navLink {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #007bff;
}

.dropdown-menu {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 10px 15px;
  font-size: 1rem;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}

.btnDark {
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.btnDark:hover {
  color: #007bff !important;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%; 
}

.navbar-nav .nav-item {
  padding-left: 15px;
  padding-right: 15px;
}

.ms-auto {
  margin-left: auto;
}
